* {
    font-family: 'Open Sans', sans-serif;    
}


.container {
    margin: 0 auto;
}
ul {
    font-weight: 600;
    width: 265px;
    border: 1px solid green;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    font-size: 24px;
    text-transform: uppercase;;
}

li{
     font-weight: 400;
     line-height: 1.75;
     text-transform: initial;
     font-size: 16px;
}

input {
    width: 200px;
    height: 30px;
}

button {
    background-color: gray;
    color: yellow;
    height: 35px;
    width: 100px;
    font-size: 14px;
    border-radius: 5px;
}